@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Define the custom font using @font-face */
@font-face {
  font-family: "MyFont";
  src: url("/fonts/MyFont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Optional: Define the custom class using the custom font */
.hiking-font {
  font-family: "MyFont", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 50px 75px 50px;
  transform: rotate(130deg);
  border-color: transparent transparent #221a19 transparent;
  transform: rotate(0deg);
}


.text-shadow {
  text-shadow: 4px 3px 2px rgba(219,133,44,0.6);
}

.text-shadow-white {
  text-shadow: 4px 3px 2px rgba(255,255,255,0.6);
}

.leather-boot-color{
  color: rgb(153 92 63);
}

.boots-primary-color-title{
  color: #efaf24
}

.primary-bg {
  background: #1b5659;
}

.primary-text{
  color: #ffa805;
}

.card-primary{
  background: #d49d1f;
}

.wooden-post-bg{
  background: url("../assets/img//wooden_post.png");
  background-size: cover;
  background-repeat: no-repeat;
}